<div class="container">
  <div class="jumbotron">
    <h1>GS.com Source Code</h1>
    <h2>Create your own resume site!</h2>
  </div>

  <script src="https://gist.github.com/theschnaz/917fcfcc78aa77e1e0399e0b4c9f39c3.js"></script>
  
  <blockquote>
    <h4>Fork me on GitHub</h4>
    <ul>
      <li>This website uses Angular on the front-end and Node.js on the back-end.</li>
	  <li><a href="https://github.com/theschnaz/GSdotcom">See the full source code here.</a></li>
    </ul>
  </blockquote>

  <script src="https://gist.github.com/theschnaz/917fcfcc78aa77e1e0399e0b4c9f39c3.js"></script>
</div>