<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div style="margin:auto; width:40px;"><img src="../assets/gsdotcom.png" style="width:40px; padding-top:10px;"/></div>
  </div>
</nav>
<!--the button/tabs controll the location in the app model -->
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default" (click)="updateLocation('resume')" [ngClass]="{'btn-primary':location=='resume'}" >Resume</a>
  <a href="#" class="btn btn-default" (click)="updateLocation('software')" [ngClass]="{'btn-primary':location=='software'}">Software</a>
  <a href="#" class="btn btn-default" (click)="updateLocation('source')" [ngClass]="{'btn-primary':location=='source'}">Source Code</a>
</div>

<div *ngIf="location=='resume'"><app-resume></app-resume></div>
<div *ngIf="location=='software'"><app-software></app-software></div>

<br />
<div class="panel-footer">
  <div style="margin:auto; width:65px;">
  	<img src="../assets/greg.png" width="65"/>
  </div>
  <div style="margin:auto; width:85px;">
  	<a href="http://twitter.com/theschnaz">@theschnaz</a>
  </div>
</div>




