<div class="container">
  <div class="jumbotron">
    <h1>Gregory Schnese</h1>
    <h2>Marketing & Growth | Developer</h2>
  </div>
  <!-- Embed PDF File -->
  <blockquote>
    <h4>Marketing & Growth</h4>
    <ul>
      <li>Head of Marketing & Growth at CoPromote Inc., NYC (Sept. 2013 – Current)</li>
	  <li>Head of User Acquisition & Marketing at kikin Inc., NYC (July 2009 – Sept. 2013)</li>
    </ul>
  </blockquote>

  <blockquote>
    <h4>Developer</h4>
    <ul>
      <li>Founder at Democracy Follows, Feb. 2016 – Current</li>
      <li>Founder at Likely for Android & iOS, Jan. 2015 – Current</li>
    </ul>
  </blockquote>

  <blockquote>
    <h4>Education</h4>
    <ul>
      <li>Master of Science in Management and Systems
New York University (May 2007)</li>
      <li>Bachelor of Science in Information Resources
University of Wisconsin – Milwaukee (Aug 2004)</li>
    </ul>
  </blockquote>

  <a href="https://drive.google.com/open?id=0BxxFmxq-Dlf_VWhVb2JWQ0x1WEk">See my full resume here.</a>

</div>